
// Bootstrap responsive container/row classes
@each $br, $px in $grid-breakpoints {
    @include media-breakpoint-up($br) {

        .row-#{$br} {
            @include make-row();
        }

        .container-#{$br} {
            @include make-container();
        }

        .container-#{$br} {
            @include make-container();
        }
    }

    @include media-breakpoint-down($br) {

        .row-#{$br}-down {
            @include make-row();
        }

        .container-#{$br}-down {
            @include make-container();
        }

        .container-#{$br}-down {
            @include make-container();
        }
    }
}

.text-red {
    color: $color-red;
}

.text-blue {
    color: $color-blue-safe;
}

.text-grey {
    color: $color-grey;
}

h1,
h2,
h3,
h4 {
    &.text {
        &-red {
            color: $color-red;
        }
        &-blue {
            color: $color-blue;
        }
    }
}

.text-center {
    text-align: center;
}

.loading-hide {
    visibility: hidden;
}