// Bootstrap responsive container/row classes
@each $br,
$px in $grid-breakpoints {
    @include media-breakpoint-up($br) {

        .row-#{$br} {
            @include make-row();
        }

        .container-#{$br} {
            @include make-container();
        }

        .container-#{$br} {
            @include make-container();
        }
    }

    @include media-breakpoint-down($br) {

        .row-#{$br}-down {
            @include make-row();
        }

        .container-#{$br}-down {
            @include make-container();
        }

        .container-#{$br}-down {
            @include make-container();
        }
    }
}

.text-red {
    color: $color-red;
}

.text-red-safe {
    color: $color-red-safe;
}

.text-blue {
    color: $color-blue;
}

.text-blue-safe {
    color: $color-blue-safe;
}

.text-grey {
    color: $color-grey;
}

.text-white {
    color: #fff;
}

.bg-red {
    background-color: $color-red;

    &-light {
        background-color: $color-red-light
    }
}

.bg-blue {
    background-color: $color-blue;

    &-light {
        background-color: $color-blue-light
    }
}

.bg-grey {
    background-color: $color-grey;
}

.bg-white {
    background-color: #fff;
}

.link {
    &-solid-red {
        @include link-color($color-red-safe, $color-red-light);

        @include hover {
            @include link-color($color-red, #fff);
        }
    }
    &-solid-blue {
        @include link-color($color-blue-safe, $color-blue-light);
    
        @include hover {
            @include link-color($color-blue, #fff);
        }
    }
    &-red {
        @include link-color($color-red-light, $color-red-safe);
    
        @include hover {
            @include link-color($color-red, #fff);
        }
    }
    &-blue {
        @include link-color($color-blue-light, $color-blue-safe);
    
        @include hover {
            @include link-color($color-blue, #fff);
        }
    }
}

h1,
h2,
h3,
h4 {
    &.text {
        &-red {
            color: $color-red;
        }

        &-blue {
            color: $color-blue;
        }
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@each $br,
$px in $grid-breakpoints {

    @include media-breakpoint-up($br) {
        .text-#{$br}-center {
            text-align: center;
        }

        .text-#{$br}-left {
            text-align: left;
        }

        .text-#{$br}-right {
            text-align: right;
        }
    }
}

.loading-hide {
    visibility: hidden;
}

.window-style {
    @include window-style-absolute;
}