@mixin box-shadow {
  box-shadow: 0 0 25px rgba(#000000, 0.25);
}

@mixin box-shadow-far {
  box-shadow: 0 0 40px rgba(#000000, 0.25);
}

@mixin box-shadow-inset {
  box-shadow: inset 0 0 25px rgba(#000000, 0.25);
}

@mixin box-shadow-far-inset {
  box-shadow: inset 0 0 40px rgba(#000000, 0.25);
}