$color-blue: #009ee2;
$color-blue-safe: #007eb4;
$color-red: #e20613;
$color-grey: #363639;

$h1-size: 3.998rem;
$h2-size: 2.827rem;
$h3-size: 1.999rem;
$h4-size: 1.414rem;
$h5-size: 1rem;
$h6-size: 1rem;