$color-blue: #009ee2;
$color-blue-light: #d1f1ff;
$color-blue-safe: #007eb4;
$color-red: #e20613;
$color-red-light: #ffd2d5;
$color-red-safe: #b30510;
$color-grey: #363639;
$color-grey-light: #eeeeee;

$h1-size: 3.998rem;
$h2-size: 2.827rem;
$h3-size: 1.999rem;
$h4-size: 1.414rem;
$h5-size: 1rem;
$h6-size: 1rem;

$section-gap: 50px;
$section-gap-small: 40px;

$radius-button: 5px;
$radius-window: 15px;