.card {
    // @include box-shadow-close;
    border-radius: $radius-window;

    &.inset {
        @include box-shadow-inset;
        border-radius: $radius-window;
    }

    .card-img {
        user-select: none;
    }

    .card-body {
        padding: 15px 20px;
    }
}