$color-blue: #009ee2;
$color-blue-light: #d1f1ff;
$color-blue-safe: #0072a3;
$color-red: #e20613;
$color-red-light: #ffd2d5;
$color-red-safe: #b30510;
$color-grey: #363639;
$color-grey-light: #eeeeee;

$size-h1: 3.998rem;
$size-h2: 2.827rem;
$size-h3: 1.999rem;
$size-h4: 1.414rem;
$size-h5: 1.25rem;
$size-h6: 1rem;

$font-family--heading: 'Nexa', $font-family-base;
$font-family: 'Open Sans', $font-family-base;


$section-gap: 50px;
$section-gap-small: 40px;

$radius-button: 5px;
$radius-window: 15px;