<section class='window-container container-fluid'>
    <div class='window left bg-red text-white'>
        <div class="container row">
            <div class='hero-desc container-sm-down'>
                <h4><strong>Whatever that means.</strong></h4>
                <p> {{ page.hero-desc }}</p>
            </div>
        </div>
    </div>
    <div class='window right bg-blue text-white'>
        <div class="container row">
            <div class='hero-desc container-sm-down'>
                <h4><strong>Whatever that means.</strong></h4>
                <p> {{ page.hero-desc }}</p>
            </div>
        </div>
    </div>
</section>