<section class='cta-container-top container-fluid'>
    <div class='cta'>
        <div class='hero-container row'>
            {% for cta in page.cta-heroes %}
            <div class='container'>
                <span class='cta-hero'>"{{ cta }}"
                    <span class='cta-hero-shadow'>"{{ cta }}"</span>
                </span>
            </div>
            {% endfor %}
        </div>
        <div class='container'>
            <p><strong>Whatever that means.</strong></p>
            <p> {{ page.cta-desc }}</p>
        </div>
    </div>
</section>