<section class='window-container'>
    <div class='window currently container text-{{page.currently-color}}-safe bg-{{page.currently-color}}-light dark-text-{{page.currently-color}}-light dark-bg-{{page.currently-color}}-safe'>
        <div class="col-11 col-sm-10 text-center text-md-left">
            <h4>What I'm up to:</h4>
            <span class="h3 h2-md">User Experience Design at <a class="link link-solid-{{page.currently-color}} link-external" href="http://www.diversus.com.au" target="_blank">Diversus</a></span>
            <div class="row currently-content">
                <div class="col-12">
                    <p>I still take odd-jobs during my down time. If I seem like a good fit for your exciting new idea or project, let me know!</p>
                </div>
                <div class="col-12 currently-cta">
                    <a class="link link-cta button solid-white-{{page.currently-color}}" href="mailto:samuel.barry.b@hotmail.com">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</section>