<section class='window-container'>
    <div class='window currently container text-blue-safe bg-blue-light'>
        <div class="col-10 text-center text-md-left">
            <h4>What I'm up to:</h4>
            <span>Full-time UX Designer at <a class="link-blue" href="http://www.diversus.com.au" target="_blank">Diversus</a></span>
            <div class="row currently-content">
                <div class="col-12">
                    <p>I still take odd-jobs during my down time. If I seem like a good fit for your exciting new idea
                        or project, let me know!</p>
                </div>
                <div class="col-12 currently-cta">
                    <a class="link-cta button solid-white-blue" href="#">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</section>