<!-- start footer.html -->
<footer class="footer">
    <div class="container">

        <div class="footer-left">
            <img class="logo" alt="Logo Image" src="{{'/assets/images/logo.svg' | relative_url}}" height="25" data-no-retina>
            <img class="logo logo-dark" alt="Logo Image" src="{{'/assets/images/logo-dark.svg' | relative_url}}" height="25" data-no-retina>
        </div>

        <div class="footer-center">
        </div>

        <div class="footer-right">
            <span class="copyright">Copyright ©
                <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear())</script>
                <span>Samuel Barnett</span>
            </span>
        </div>

    </div>
</footer>
<!-- end footer.html -->