<!-- start header.html -->
<section class='window-container container'>
    <div class='header window {% if page.header-color %} bg-{{page.header-color}}-light text-{{page.header-color}}-safe dark-bg-{{page.header-color}}-safe dark-text-{{page.header-color}}-light {% endif %}'>

        {% if page.header-image %}
        <div class="header-image col-md-3 col-lg-3 text-left">
            <img src="{{ page.header-image | relative_url }}" alt="Portrait photo of Sam Barnett" class="about-image">
        </div>
        <div class="col-11 col-sm-10 col-md-8 text-left">
            {% else %}
            <div class="col-11 col-sm-10 text-left">
                {% endif %}

                <h2 class="{% if page.client %}title-with-subtitle{% endif %}">{{ page.title }}</h2>

                {% if page.client %}
                <span class='project-client'>{{ page.client }}</span>
                {% endif %}

                {% if page.desc-long %}
                <p>{{ page.desc-long }}</p>
                {% else if page.desc %}
                <p>{{ page.desc }}</p>
                {% endif %}

                {% if page.header-link %}
                <p>{{ page.header-link }}</p>
                {% endif %}
            </div>

        </div>
</section>
<!-- end header.html -->