<header class="navbar">
    <nav class="container">
        <a href="{{site.url | relative_url}}" title="Return to Homepage" class="logo-link">
            <img class="logo" alt="Logo Image" src="{{'/assets/images/logo.svg' | relative_url}}" height="80">
        </a>
        <h1>SAMUEL<br><span class="text-blue">BARNETT</span></h1>

        <ul>
            <li class=" ">
                <a href="{{ site.url | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
            </li>

            {% assign sorted_pages = site.pages | sort:"order"  %}
            {% for node in sorted_pages %}
            {% if node.title %}
            <li class=" ">
                <a href="{{ node.url | relative_url }}" class="{% if page.url == node.url or page.url contains node.url %}active{% endif %}">{{node.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>