// Bootstrap responsive container/row classes
@each $br, $px in $grid-breakpoints {
	@include media-breakpoint-up($br) {
		.row-#{$br} {
			@include make-row();
		}

		.container-#{$br} {
			@include make-container();
		}

		.container-#{$br} {
			@include make-container();
		}
	}

	@include media-breakpoint-down($br) {
		.row-#{$br}-down {
			@include make-row();
		}

		.container-#{$br}-down {
			@include make-container();
		}

		.container-#{$br}-down {
			@include make-container();
		}
	}
}

@each $pos in (middle, top, right, bottom, left) {
	.bg-focus-#{$pos} {
		@include bg-focus($pos, !important);
	} // .bg-focus-middle, etc...
}

@each $color,
	$val
		in (
			"blue": $color--blue,
			"blue-light": $color--blue-light,
			"blue-safe": $color--blue-safe,
			"red": $color--red,
			"red-light": $color--red-light,
			"red-safe": $color--red-safe,
			"grey": $color--grey,
			"grey-medium": $color--grey-medium,
			"grey-light": $color--grey-light,
			"grey-safe": $color--grey-safe,
			"white": $color--white
		)
{
	.text {
		&-#{$color} {
			color: $val !important;
		}
    }

	.bg {
		&-#{$color} {
			background-color: $val !important;
		}
	}

    @include dark-mode {
        .dark-text {
            &-#{$color} {
                color: $val !important;
            }
        }

        .dark-bg {
            &-#{$color} {
                background-color: $val !important;
            }
        }
    }
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.h1 {
	@include h1;
}

.h2 {
	@include h2;
}

.h3 {
	@include h3;
}

.h4 {
	@include h4;
}

.h5 {
	@include h5;
}

.h6 {
	@include h6;
}

@each $margin, $val in ("0_5": 0.5, "1": 1, "2": 3) {
	.m-bottom-#{$margin}em {
		margin-bottom: #{$val}em;
	}
	.m-top-#{$margin}em {
		margin-top: #{$val}em;
	}
}

@each $br, $px in $grid-breakpoints {
	@include media-breakpoint-up($br) {
		.text-#{$br}-center {
			text-align: center;
		}

		.text-#{$br}-left {
			text-align: left;
		}

		.text-#{$br}-right {
			text-align: right;
		}

		.h1-#{$br} {
			@include h1;
		}

		.h2-#{$br} {
			@include h2;
		}

		.h3-#{$br} {
			@include h3;
		}

		.h4-#{$br} {
			@include h4;
		}

		.h5-#{$br} {
			@include h5;
		}

		.h6-#{$br} {
			@include h6;
		}
	}
}

.loading-hide {
	visibility: hidden;
}

.window-style {
	@include window-style-absolute;
}
