.hero {
    background-color: $color-grey;
    min-height: 300px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    width: 100%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero-text {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        line-height: 1.2;
        user-select: none;
        overflow: hidden;
        margin-bottom: 0.5em;

        @include h2;

        @include responsive-headings(lg, $h2-size, 0.8);
        @include responsive-headings(md, $h2-size, 0.75);
        @include responsive-headings(sm, $h3-size, 0.8);

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    .hero-text-shadow {
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        width: 100%;
        opacity: 0.5;
    }

    .hero-container {

        .slick-list {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            width: calc(100% + 30px);
            display: flex !important;
            justify-content: center;
            padding: 0;

            .slick-track {
                display: flex !important;
                align-items: center;
            }

            .slick-slide {
                .container {
                    display: flex !important;
                    justify-content: center;
                }
            }
        }

        @include media-breakpoint-up(md) {
            align-self: stretch;
            align-items: center;
            display: flex;

            .slick-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
            }
        }
    }

    .hero-desc {
        @include media-breakpoint-up(md) {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}