.hero {
    background-color: $color-grey;
    margin: 16px;
    border-radius: 16px;
    @include box-shadow-inset;
    min-height: 300px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hero-text {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        line-height: 1.2;
        user-select: none;
        overflow: hidden;
        margin-bottom: 0.5em;

        @include h3-size;

        @include media-breakpoint-up(sm) {
            @include h2-size;
        }

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    .hero-text-shadow {
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        width: 100%;
        opacity: 0.5;
    }

    .hero-container {
        @include media-breakpoint-down(sm) {
            width: calc(100% + 30px);
            display: flex !important;
            justify-content: center;
            padding: 0;

            .slick-track {
                display: flex !important;
                align-items: center;
            }

            .slick-slide {
                .container {
                    display: flex !important;
                    justify-content: center;
                }
            }
        }

        @include media-breakpoint-up(md) {
            align-self: stretch;
            align-items: center;
            display: flex;

            .slick-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
            }
        }
    }

    .hero-desc {
        @include media-breakpoint-up(md) {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

// Slick flicker fix
.slick-slide,
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}