section.services-section {
    .service-container {
        // margin: 15px 0;
        margin: 0;
        text-align: center;

        .service-card {
            position: relative;
            transition: 0.3s;
            top: 0;
            // cursor: pointer;

            // @include hover {
            //     @include box-shadow-faint;
            // }

            &.active {
                @include box-shadow-faint;
                transform: translateY(-3px) scale(1.025);

                .card-title {
                    color: $color-blue-safe;
                }
                .card-img {
                    transform: scale(1.05);
                }
            }

            .card-img {
                padding: 20px;
                transition-delay: 0.1s;
                transition: 0.3s;

                @include media-breakpoint-up(lg) {
                    padding: 20px 20px 0;
                    max-width: 100%;
                }

                img {
                    max-width: 100%;
                }
            }

            .card-body {
                .card-title {
                    font-size: $h5-size;
                    font-weight: 600;
                    transition: 0.3s;
                    transition-delay: 0.1s;
                }
            }



            @include media-breakpoint-down(md) {
                @include make-row();
                margin: 0;

                .card-img {
                    @include make-col(6);
                    display: flex;
                    justify-content: center;
                    text-align: right;
                }

                .card-body {
                    @include make-col(6);
                    display: flex;
                    align-items: center;

                    text-align: left;
                    justify-content: flex-start;
                }

            }

        }


    }
}