.about {
	&-container {
		justify-content: center;
	}

	&-image {
		width: 100%;
	}

	&-icons {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		margin-top: -1em;
		margin-bottom: 1em;

		> * {
			margin: 1em 1em 0;
        }
        
        .icons-heading {
            flex: 1 0 100%;
            text-align: center;
        }

		img {
			height: 50px;

			@include media-breakpoint-up(md) {
				height: 60px;
			}
			@include media-breakpoint-up(lg) {
				height: 80px;
			}
		}
	}
}
