footer.footer {
	height: $height-footer;
	@include box-shadow-far;
	background: $color--white;

	&,
	.container {
		display: flex;
		align-items: center;

		> * {
			display: flex;
			align-items: center;
			// flex: 1 0;
		}
	}

	.footer-left {
		justify-content: flex-start;
		margin-right: auto;
	}

	.footer-center {
        justify-content: center;
        flex-direction: column;
	}

	.footer-right {
		margin-left: auto;
		justify-content: flex-end;
	}

	.copyright {
		font-size: 14px;
		font-weight: 700;
		text-align: center;

		> span {
			font-weight: 600;
			margin-left: 1em;
		}
	}
}
