@import "components/projects";

.project {
	&-overlay {
		color: $color--blue-light;
		background: rgba($color--blue-safe, 0.95);
	}

	&-link {
        color: $color--blue-light;

        @include hover {
            color: $color--white;
        }
	}

	&-client {
		color: $color--white;
	}
}

.user-is-tabbing {
    .project-link {
        outline-color: $color--white;
    }
}
