.projects-container {
	margin-top: -15px;
	margin-bottom: -15px;
}

.project {
	margin: 15px 0;

	&-inner {
		cursor: pointer;
		display: block;
		@include window-style;
		overflow: hidden;
		position: relative;
		@include box-shadow-faint;
		border: 10px solid #fff;
		transition: 0.3s ease;

		@include hover-focus {
			.project-overlay {
				// @include box-shadow-faint-inset;
				opacity: 1;
			}
		}
	}

	&-image {
		@include aspect-ratio(1.5, 1);
		@include aspect-focus(0%);
		transition: 0.3s;

		> img {
			transition: 0.3s;
		}
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		justify-content: center;
		flex-direction: column;
		color: $color-blue-safe;
		background: rgba($color-blue-light, 0.95);
		opacity: 0;
		padding: 20px;
		box-shadow: none;
		transition: 0.3s;
		z-index: 1;
		font-size: 16px;

		padding: 0 2em;
		@include media-breakpoint-up(lg) {
			padding: 0 3em;
			font-size: 14px;

			h4 {
				font-size: $size-h5;
			}
		}
		@include media-breakpoint-up(xl) {
			font-size: 16px;
		}

		p {
			text-decoration: underline;
			font-weight: 700;
		}
	}

	&-desc {
		font-weight: 600;
		margin-top: -0.5em;
	}

	&-roles {
		margin: 1em 0;
	}
}
