.project {
	cursor: pointer;
	@include window-style;
	overflow: hidden;
	position: relative;

	+ & {
		margin-top: 15px;
	}

	@include hover {
		.project-overlay {
			opacity: 1;
		}
	}

	&-image {
		@include aspect-ratio(3, 1);
		@include aspect-focus(0%);
		transition: 0.3s;

		> img {
			transition: 0.3s;
		}
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		justify-content: center;
		flex-direction: column;
		color: $color-blue-safe;
		background: rgba($color-blue-light, 1);
		opacity: 0;
		padding: 20px;

		padding: 10vh 10vw;
		transition: 0.3s;
		z-index: 1;

		h4 {
			// margin: 0;
		}
	}

	&-desc {
	}
}
