section.services-section {
    .service-container {
        // margin: 15px 0;
        margin: 0;
        text-align: center;

        .service-card {
            position: relative;
            transition: 0.3s;
            top: 0;
            // cursor: pointer;

            // @include hover {
            //     @include box-shadow-faint;
            // }

            &.active {
                @include box-shadow-faint;
                transform: translateY(-3px) scale(1.025);

                .card-title {
                    color: color("blue-safe");
                }

                .card-img {
                    transform: scale(1.05);
                }
            }

            .card-img {
                padding: 20px 10px 0;
                transition-delay: 0.1s;
                transition: 0.3s;

                @include media-breakpoint-up(lg) {
                    padding: 20px 20px 0;
                    max-width: 100%;
                }

                img {
                    max-width: 100%;
                    position: relative;
                    margin: auto;
                }
            }

            .card-body {
                text-align: center;

                h5.card-title {
                    display: inline-block;
                    transition: 0.3s;
                    transition-delay: 0.1s;
                    position: relative;
                    margin: auto;
                }
            }



            @include media-breakpoint-down(sm) {
                @include make-row();
                margin: 0;

                .card-img {
                    @include make-col(12);
                    display: flex;
                }

                .card-body {
                    @include make-col(12);
                    display: flex;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            &:nth-child(2n-1) {
                .card-img {
                    padding: 10px 0 0 20px;
                }
            }
            &:nth-child(2n) {
                .card-img {
                    padding: 10px 20px 0 0;
                }
            }
        }
    }
}